*{
  box-sizing: border-box;
}
html {
  font: 12px/1.5rem Arial;
}
body {
  background: #fed;
  padding: 25px;
  height: 1500px;
}
main {
  position: relative;
  padding: 20px;
  background: pink;
  border: 1px solid;
}
.editor-ctnr {
  padding: 20px;
  border: 1px solid red;
  background: tan;
  position: relative;
  height: 300px;
  overflow: auto;
}

.bad-word {
  background: yellow;
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 3px;
}

.dropdown {
  position: fixed;
  width: 150px;
  border: 1px solid red;
}

.dropdown select {
  width: 100%;
}